body{
    font-family: Arial, Helvetica, sans-serif;
}

.pagina1, .pagina2, .advert2, .advert, .img, .sla1, .bola, .bolas, .cent, footer, .nv, .bolass, .princ, form {
    text-align: center;
}

.pagina1 {
    margin-top: 0%;
}

.pagina2 {
    margin-top: 1px;
}

.advert2 {
    margin: auto;
    padding: 0 260px;
    margin-top: 200px;
    margin-bottom: 15px;
}

.advert {
    padding: 0 260px;
}

.img {
    margin-top: 0%;
}

hr {
    color: rgb(233, 57, 57);
}

.link {
    padding: 0 230px;
}

a {
    color: darkgray;
    text-decoration: none;
    border: 2px solid darkgray;
}

a:hover {
    text-decoration: none;
    color: red;
    transition: color 0.3s;
}

nav {
    color: rgb(179, 52, 52);
    transition: color 0.3s;
}

.sla1 {
    padding-right: 35px;
}

p {
    display: inline-block;
    padding-left: 260px;
    margin-top: 0%;
}

.bola {
    margin: auto;
    margin-bottom: 5px;
}

.gg {
    margin-right: 520px;
}

.bolas {
    display: inline-flex;
    margin-left: 360px;
    margin-bottom: 20px;
}

.bola1, .bola2, .bola3, .bola4, .bola5, .bola6 {
    margin-left: 30px;
}

.cent {
    margin-left: 20px;
    align-items: center;
}

footer {
    margin-right: 265px;
}


header {
    text-align: justify;
    background-color: rgb(73, 73, 73);
    color: rgb(255, 255, 255);
    margin: 0 200px;
    padding: 10px;
}


.hh1{
    font-size: 20px;
}

.tipagem{
    color: orangered;
}

.ss {
    border: 1px solid darkgray;
    margin-bottom: 20px;
    color: rgb(145, 145, 145);
    text-align: justify;
}

.bolass {
    display: inline-flex;
    margin: 0 auto;
    border: solid 1px rgb(145, 145, 145);
    border-top: solid 20px rgb(145, 145, 145);
    padding: 10px;
}

.princ {
    margin: 0 auto;
}

form {
    border: 1px solid darkgray;
    margin: 0 200px;
}
